#PlayerList {
	overflow: auto;
	height: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#PlayerList::-webkit-scrollbar {
	display: none;
}

.Player {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	margin-bottom: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	border-radius: 10px 10px 10px 10px;
}

.Remove {
	padding-top: 3px;
}
